.like{
    font-size: 30px;
    padding-left: 4px;
}

.btn-st{
    font-size: 16px;
    position: relative;
    bottom: -44px;
    left: -248px;
    margin-bottom: 65px;
}

.postedBy{
    bottom: -27px;
    position: relative;
    left: -63px;
}
.content{
position: relative;
bottom: -49px;
left:-111px;
}

.likes{
    position: relative;
    background: white;
    bottom: -87px;
    left: -193px;
}



.publish{
    position: relative;
    left: -3px;
    bottom: -76px;
    margin-bottom: 140px;
}