


<div *ngIf="postData">
       
    <span>{{postData.name}}</span>
        <span class="postedBy">{{postData.postedBy}}</span>

<span class="content">
    {{postData.content}}
</span>
<button *[ngClass]="likes" (click)="likePost()" [ngStyle]="{background: 'white'}"><mat-icon>favorite</mat-icon><span class="like">{{postData.likecount}}</span></button>


<div class="comment-card">

    <h4 class="publish">Publish Your Comment</h4>
<div>
    <form [formGroup]="commentForm">
      
            <label [ngStyle]="{marginRight: '40px'}">Content</label>
            <textarea formControlName="content">

            </textarea>
        
<br>
        
            <label [ngStyle]="{marginRight: '30px'}">Posted By</label>
              <input formControlName="postedBy">
                
            
      
        <button class="btn-st" (click)="publishComment()">Publish Comment</button>
        
    </form>
</div>


</div>  

<div  *ngFor="let item of comments">
<div>

<span>{{item.content}}</span>
<span> Posted By:{{item.postedBy}}</span>


</div>

